{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Логин</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marmelad&family=Oswald:wght@300;500;700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css">
</head>

  <div class="auth_container">
      <div class="auth_reg"><a href="/register">Зарегистрироваться</a></div>
      <div class="auth_log"><a href="/login">Войти</a></div>
  </div>

