{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Регистрация</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marmelad&family=Oswald:wght@300;500;700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css">
</head>


<div class="reg_container">
  <h1 class="reg_h1">Регистрация</h1>
  <form method=post class="reg_form">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="reg_form_button" type="submit" value="Зарегистрироваться">
  </form>
</div>
